a {
    text-decoration: none;
}
h1 {
    font-size: 0.8vw;
    color: #FFFFFF;
    letter-spacing: 0;
    font-weight: 400;
}
h1:hover {
    cursor: pointer;
}
.navbar {
    background-color: black;
    display: flex;
    height: 6vw;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 0;
    font-family: 'PingFang SC 400', sans-serif;
    position: fixed;
    width: 100%;
    z-index: 98;
}
.navbarLogo img {    
    width: 3vw;
}
.navbarMenu {
    display: flex;
    gap: 5vw;
}
.navbarLogo {
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
}
.navbarRight {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbarRight:hover {
    cursor: pointer;
}
.navbarRight img:nth-child(1) {
    width: 1.2vw;
    margin-right: 0.5vw;
}
.navbarRight:nth-child(2) {
    margin-right: 1vw;
}
.navbarRight img:nth-child(3) {
    width: 0.8vw;
    margin-left: 0.5vw;
}
.mobileTop {
    color: #FFFFFF;
    letter-spacing: 0;
    font-weight: 400;
    font-size: 1.1vw;
}
@media screen and (min-width: 768px) {
    .menu{
        display: none;
    }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
    .menu {
        margin-right: 32vw;
        display: flex;
    }
    .menu img{
        width: 5vw;
    }
    .navbar {
        background-color: white;
        display: flex;
        justify-content: flex-start;
        height: 12vw;
        padding-left: 11vw;
    }
    .navbarMenu {
        display: none;
    }
    .navbarRight{
        display: none;
    }
    .navbarLogo img{
        display: none;
    }
    .mobileTop {
        color: #444444;
        font-size: 4vw;
    }
}
